@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

.singlemovie {
  height: 90vh;
  width: 100%;
}

.singlemovie__container {
  color: lightgray;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 60%;
  height: 80%;
  margin-left: 3%;
  padding: 20px;
  padding-top: 40px;
}

.singlemovie__movieDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
}

.singlemovie__movieDetails > h1 {
  font-size: xxx-large;
}

.singlemovie__movieDetails > div > p {
  font-size: 20px;
  margin-left: -2px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.singlemovie__movieDetails > div > p::-webkit-scrollbar {
  display: none;
}

.bottom {
  width: 30%;
  padding-top: 20px;
  border-bottom: 1px solid rgb(110, 109, 109);
}

.singlemovie__genres {
  display: flex;
  max-width: 60%;
  justify-content: space-between;
  overflow-y: scroll;
}

.singlemovie__genres::-webkit-scrollbar {
  display: none;
}

.singlemovie__container > a {
  text-decoration: none;
}

.rating {
  width: 130px;
  height: 50px;
  background-color: #111;
  border-left: 5px solid #f50057;
  display: flex;
  justify-content: space-evenly;
  letter-spacing: 3px;
  flex-direction: column;
}

.rating > h4,
p {
  margin-left: 10px;
}

.rating > p {
  color: #f50057;
}
