.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  position: sticky;
  background-color: #1b2a33;
  z-index: 999;
}

.header__listItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  padding: 20px;
}

.header__listItem {
  text-decoration: none;
  color: white;
  letter-spacing: 5px;
}

.header__listItem > span {
  color: #f50057;
}

.header__searchBar {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  max-width: fit-content;
  height: 20px;
  margin-top: 0.5%;
  border-radius: 999px;
  border: 1px solid #1b2a33;
  padding: 10px;
  background-color: white;
}

.header__searchBar > input {
  border: none;
  outline: 0;
  border-radius: 10px;
  width: 250px;
}

.header__searchBarIcon {
  cursor: pointer;
}

.header__button {
  background-color: black !important;
  color: white !important;
}

.header__signup {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
